/* 主攻的 */
.site-head{
    height: 150px;
    min-width: 1152px;
}
.site-head .topbar{
    min-width: 1152px; 
    height: 32px;
    background-color: #2a2a2a;
    color: white;
    line-height: 32px;
}
.site-head .topbar a{
    color: white;
}
.site-head .topbar .shortcut-link{
    float: left;
}
.site-head .topbar .shortcut-link>ul>li{
    float: left;
    margin-right: 18px;
    font-size: 14px;
}
.site-head .topbar .topbar-r{
    float:right;
    width: 225px;
}
.site-head .topbar .topbar-r a{
    margin-right: 10px;
    color:white
}
.site-head .topbar .topbar-r a:last-child{
    margin-right: 0;
}
.site-head .topbar .shortcut-link>ul>li.have-menu{
    padding-right: 12px;
    position: relative;
}
.site-head .topbar .shortcut-link>ul>li.have-menu .arrow{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6px;
    width:12px;
    height:12px;
    transition: transform 0.6s ease 0s;
}
.site-head .topbar .shortcut-link>ul>li.have-menu:hover .arrow{
    transform: rotate(180deg);
}
.site-head .topbar .shortcut-link>ul>li.have-menu .arrow b{
    position: absolute;
    left: 3px;
    top: 2.5px;
    height: 6px;
    width: 6px;
    background-color: white;
    transform: rotate(45deg);
}
.site-head .topbar .shortcut-link>ul>li.have-menu .arrow i{
    position: absolute;
    left: 3px;
    top: 1px;
    height: 6px;
    width: 6px;
    background-color: #2a2a2a;
    transform: rotate(45deg);
}
.site-head .topbar .shortcut-link>ul>li.have-menu .menu{
    position: absolute;
    left: 0;
    top: 32px;
    z-index: 9999;
    display: none;
    /* 隐藏 */
    padding-top: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba( 0, 0, 0, 0.20);
    padding: 10px;
}
/* 鼠标碰到have-menu，就让menu出现 */
.site-head .topbar .shortcut-link>ul>li.have-menu .sqmenu{
    width: 110px;
}
.site-head .topbar .shortcut-link>ul>li.have-menu .scmenu{
    width: 63px;;
}
.site-head .topbar .shortcut-link>ul>li.have-menu .jdmsmenu{
    width: 51px;
}
.site-head .topbar .shortcut-link>ul>li.have-menu:hover .menu{
    display: block;
}
.site-head .topbar .shortcut-link>ul>li.have-menu .menu .menu-list li{
    height: 20px;
    line-height: 20px;
}
.site-head .topbar .shortcut-link>ul>li.have-menu .menu .menu-list a{
    font-size: 12px;
    color: #1c1f21;
    line-height: 20px;
}
.site-head .topbar .shortcut-link>ul>li.have-menu:hover .menu .menu-list a:hover{
    color: orange;
}
.site-head .main-nav{
    min-width: 1152px;
    height: 40px;
    background-color: #20bd9a;
}
.site-head .main-nav ul li{
    float: left;
    margin-right: 18px;
}
.site-head .main-nav ul li.have-menu{
    padding-right: 16px;
    position: relative;
}
.site-head .main-nav ul li a{
    line-height: 40px;
    color: white;
    font-size: 16px;
}
.site-head .main-nav ul li.have-menu::before{
    content: '';
    position: absolute;
    right: 0;
    top: 18px;
    width: 0px;
    height: 0px;
    border: 5px solid transparent;
    border-bottom: none;
    border-top-color: white;
    transition: transform .9s ease 0s;
}
.site-head .main-nav ul li.have-menu:hover::before{
    transform: rotate(180deg);
}
.site-head .main-nav .menu{
    position: absolute;
    top: 35px;
    left: 0;
    display: none; 
    /* 隐藏 */
    padding-top: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba( 0, 0, 0, 0.20);
    padding: 10px;
}
.site-head .main-nav ul li .menu dl dd a{
    font-size: 12px;
    color: #1c1f21;
    line-height: 20px;
}
.site-head .main-nav ul li .menu dl dd a:hover{
    color: orange;
}
.site-head .main-nav ul li:hover .menu{
    display: block;
}
.site-head .main-nav ul li .jjzyxmenu{
    width: 150px;
}
.site-head .main-nav ul li .gtymenu{
    width: 90px;
}
.site-head .main-nav ul li .ddwlmenu{
    width: 190px;
}
.site-head .main-nav ul li .sdlymenu{
    width: 160px;
}
.site-head .header-con{
    height: 36px;
    padding: 21px 0;
}
.site-head .header-con h1{
    float: left;
    font-size: 24px;
    color: #20bd9a;
    font-weight: bold;
    line-height: 36px;
}
.site-head .header-con .soso-box{
    float: left;
    margin-left: 20px;
    width: 406px;
    padding-top: 2px;
}
.site-head .header-con .soso-box input{
    float: left;
    width: 362px;
    height: 28px;
    border:1px solid #20bd9a ;
    border-radius: 4px 0 0 4px;
    font-size: 12px;
    /* 取消外线（文本框特有的） */
    outline: none;
    padding-left: 10px;
}
.site-head .header-con .soso-box .btn{
    float: left;
    width: 32px;
    height: 30px;
    background-color: #20bd9a;
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    border: 0 4px 4px 0;
}
/* banner */
.banner{
    position: relative;
}
.banner img{
    width: 100%;
    /*用min-width限制最小宽度  */
    min-width: 1152px;
    /* 图片可能和盒子产生一个小缝隙，此时可以使用一个小技巧 */
    /* 这个小技巧使用之后，图片不会产生缝隙 */
    vertical-align: middle;
}
.banner .center-warp{
    /* 压盖的话想到子绝父相 */
    position: absolute;
    top: 0; 
    left: 0;
    width: 1152px;
    left: 50%;
    margin-left: -572px;
    /* 这里的100%不能省略，如果省略的话子盒高度为0，子盒子的16.6%将毫无意义 */
    height: 100%;
}
.banner .center-warp .banner-nav{
    /* 这里的100%不能省略，如果省略的话子盒高度为0，子盒子的16.6%将毫无意义 */
    height: 100%;
}
.banner .center-warp .banner-nav ul{
    /* 这里的100%不能省略，如果省略的话子盒高度为0，子盒子的16.6%将毫无意义 */
    height: 100%;
}
.banner .center-warp .banner-nav>ul>li{
    height: 16.67%;
    width: 296px;
    background-color: rgba(0,0,0,0.53);
    border-bottom: 1px solid #9e9e9e;
    box-sizing:border-box;
    /* 这个属性是让盒子的height属性是盒子的总高度 在这种情况：盒子的高度是百分号写的时候，而盒子的有边框的时候 */
    /* 此时就要让边框含盖在高度里面 */
}
.banner .center-warp .leftbtn{
    position: absolute;
    width: 28px;
    height: 44px;
    background: url(../images/icons.png) no-repeat -21px -91px;
    top: 0;
    left: -38px;
    top: 50%;
    margin-top: -22px;
}
.banner .center-warp .leftbtn:hover{
    /* 透明度 */
    opacity: 0.6;
}
.banner .center-warp .rightbtn{
    position: absolute;
    width: 28px;
    height: 44px;
    background: url(../images/icons.png) no-repeat -21px -29px;
    top: 0;
    right: -38px;
    top: 50%;
    margin-top: -22px;
}
.banner .center-warp .rightbtn:hover{
    /* 透明度 */
    opacity: 0.6;
}
.banner .center-warp .banner-nav>ul>li{
    position: relative;
}
.banner .center-warp .banner-nav>ul>li dl{
    position: absolute;
    height: 48px;
    left: 42px;
    top: 50%;
    margin-top: -24px;
    color: white;
}
.banner .center-warp .banner-nav>ul>li dl dt{
    font-size: 18px;
    line-height: 26px;
    height: 26px;
}
.banner .center-warp .banner-nav>ul>li dl dd{
    font-size: 16px;
    line-height: 22px;
    height: 22px;
}
.banner .center-warp .banner-nav>ul>li::before{
    content: '';
    position: absolute;
    background-image:url(../images/icons.png);
    top: 50%;
    left: 10px;
}
.banner .center-warp .banner-nav>ul>li.hot::before{
    width: 22px;
    height: 18px;
    background-position: -29px -399px;
    margin-top: -9px;
}
.banner .center-warp .banner-nav>ul>li.hk::before{
    width: 18px;
    height: 21px;
    background-position: -28px -217px;
    margin-top: -10.5px;
    left: 13px;
}
.banner .center-warp .banner-nav>ul>li.jp::before{
    width: 24px;
    height: 19px;
    background-position: -25px -171px;
    margin-top: -9.5px;
}
.banner .center-warp .banner-nav>ul>li.as::before{
    width: 18px;
    height: 19px;
    background-position: -28px -262px;
    margin-top: -9.5px;
    left: 12px;
}
.banner .center-warp .banner-nav>ul>li.eu::before{
    width: 20px;
    height: 14px;
    background-position: -29px -351px;
    margin-top: -7px;
    left: 11px;
}
.banner .center-warp .banner-nav>ul>li.au::before{
    width: 18px;
    height: 17px;
    background-position: -28px -305px;
    margin-top: -8.5px;
    left: 12px;
}
.banner .center-warp .banner-nav .menus-box .menu{
    display: none;
    position:absolute;
    left: 296px;
    top: 0;
    width: 356px;
    height: 100%;
    background-color: rgba(0,0,0,0.63);
    padding-left: 16px;
    /* 加上box-sizing属性后，盒子的总高就是height */
    /* 就不需要减去padding,因为百分比怎么减 */
    box-sizing: border-box;
}
.banner .center-warp .banner-nav .menus-box .menu a{
    color: white;
}
.banner .center-warp .banner-nav .menus-box .menu dl{
    margin-bottom: 16px;
}
.banner .center-warp .banner-nav .menus-box .menu dl dt{
    line-height: 30px;
    font-size: 18px;
}
.banner .center-warp .banner-nav .menus-box .menu dl dd{
    line-height: 25px;
    font-size: 15px;
}
.hot-ads{
    margin-top: 32px;
    margin-bottom: 32px;
}
.hot-ads ul li{
    float: left;
    width: 264px;
    height: 110px;
    margin-right: 32px;
}
.hot-ads ul li:last-child{
    margin-right: 0;
}
.xxsw{
    padding-top: 40px;
    height: 698px;
    background-color: #f7f7f7;
}
.xxsw .hd{
    margin-bottom: 32px;
}
.content-part h2{
    font-size: 36px;
    font-weight: bold;
    color: #1c1f21;
}
.xxsw .hd h2{
    float: left;
}
.content-part em{
    float: left;
    position: relative; 
    top: 21px;
    left: 10px;
    color: #1c1f21;
}
.xxsw ul li{
    float: left;
    width: 264px;
    height: 270px;
    margin-right: 32px;
    background-color: white;
    margin-bottom: 32px;
}
.xxsw ul li:nth-child(4n){
    margin-right: 0;
}
.xxsw ul li .wordbox{
    padding: 15px;
    color: #1c1f21;
    font-size: 14px;
}
.xxsw ul li:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.20);
}
.common-style{
    height: 698px;
    padding-top: 40px;
}
.common-style .hd h2{
    float: left;
}
.content-part .hd nav{
    float: right;
    width: 546px;
}
.content-part .hd nav ul{
    margin-top: 16px;
}
.content-part .hd nav ul li{
    float: left;
    margin-right: 16px;
    font-size: 14px;
}
.content-part .hd nav ul li:last-child{
    margin-right: 0;
}
.content-part .hd nav ul li a{
    color: rgba(0,0,0,0.85);
}
.content-part .hd nav ul li.current{ 
    border-bottom: 4px solid #20bd9a;
    padding-bottom: 4px;
}
.content-part .hd nav ul li.current a{
    color: #20bd9a;
}
.common-style .bd{
    padding-top: 32px;
}
.common-style .bd>ul>li:nth-child(3) , .common-style .bd>ul>li:nth-child(7){
    margin-right: 0;
}
.common-style .bd>ul>li{
    float: left;
    margin-right: 32px;
    margin-bottom: 32px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.08);
}
.common-style .bd>ul>li:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.20);
}
.common-style .bd>ul>li.big-grid{
    height:270px;
    width: 560px;
    position: relative;
}
.common-style .bd>ul>li .tag{
   position: absolute;
    width: 74px;
    height: 40px;
    color: white;
    background-color: rgba( 0, 0, 0, 0.55);
    bottom: 103px;
    left: 0;
    text-align: center;
    line-height: 40px;
    /* 图片一触碰就会有transform变形，此时会神奇的盖住tag，所以为了防止被盖住，我们应该设置z-index属性值 */
    z-index: 9999;
}
.common-style .bd>ul>li.pro-grid .picbox{
    position: relative;
    height: 184px;
}
.common-style .bd>ul>li.pro-grid .picbox .tag{
    bottom: 0;
}
.common-style .bd>ul>li.big-grid .info{
    position: absolute;
    width: 560px;
    height: 103px;
    color: white;
    background-color: rgba( 0, 0, 0, 0.55);
    bottom: 0;
    left: 0;
    padding: 30px 26px;
    box-sizing: border-box;
    line-height: 26px;
}
.common-style .bd>ul>li.pro-grid{
    width: 264px;
    height:270px;
}
.content-part .bd .more-grid{
    width: 264px;
    height:270px;
    background-image: linear-gradient(180deg,#34e3ba 0%,#15af7a 98%);
    box-sizing: border-box;
    position: relative;
}
.content-part .bd .more-grid a{
    display: block;
    padding-top: 46px;
    height:270px;
    box-sizing: border-box;
}
.common-style .bd>ul>li.pro-grid .wordbox{
    padding: 14px;
    font-size: 14px;
    color: #1c1f21;
    line-height: 22px;
}
.content-part  .more-grid p{
    text-align: center;
    text-align: center;
    color: white;
    font-size: 15px;
}
.content-part  .more-grid .iconfont{
    position:absolute;
    font-size: 48px;
    color: white;
    width: 48px;
    height: 48px;
    left: 50%;
    margin-left: -24px;
    top: 108px;
}
/* 鼠标碰到more-grid盒子之后，iconfont进行跳动 */
.content-part  .more-grid:hover .iconfont{
    animation: ud .4s ease 0s infinite alternate;
}
@keyframes ud{
    from{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(10px);
    }
}
.content-part .more-grid ul{
    margin-top: 112px;
    padding-left: 40px;
}
.content-part .more-grid ul li{
    float: left;
    color:white;
    border-right: 1px solid white;
    padding:0 9px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
}
.content-part .more-grid ul li:last-child{
    border-right: none;
}
/* 公共部分，鼠标放上去会放大 */
.content-part img{
    transition: transform .4s ease ;
}
.content-part li .picbox{
    height: 184px;
    overflow: hidden;
}
.content-part img:hover{
    transform: scale(1.1);
}
.content-part li{
    overflow: hidden;
}
.content-part .grid{
    overflow: hidden;
}
/* 当地玩乐 */
.ddwl{
    padding-top: 40px;
    background-color: #f7f7f7;
    height: 546px;
}
.ddwl h2{
    float: left;
}
.ddwl .hd nav{
    width: 348px;
}
.ddwl .bd{
    padding-top: 32px;
}
.ddwl .bd .col{
    float: left;
    height: 480px;
    width: 364px;
   /* background-color: orange;  */
    margin-right: 30px;
}
.ddwl .bd .col:last-child{
    margin-right: 0;
}
.ddwl .bd .bigpicbox{
    width: 364px;
    height: 270px;
    /* background-color: red; */
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}
.ddwl .bd .bigpicbox .info{
    position: absolute;
    width: 364px;
    height: 104px;
    background-color: rgba( 0, 0, 0, 0.20);
    bottom: 0;
    left: 0;
    padding: 12px 17px 0;
    box-sizing: border-box;
    color: white;
    font-size: 14px;
}
.ddwl .bd .bigpicbox .info .bottom{
    padding-top: 6px;
}
.ddwl .bd .bigpicbox .info .bottom .tag{
    float: left;
}
.ddwl .bd .bigpicbox .info .bottom .price{
    float: right;
}
.ddwl .bd .bigpicbox .info .bottom .price strong{
    color: #36dfba;
}
.ddwl .bd .grid{
    width: 364px;
    height: 120px;
    margin-bottom: 30px;
    background-color: white;
}
.ddwl .bd .grid .picbox{
    float: left;
    height:120px;
    width: 120px;
    overflow: hidden;
}
.ddwl .bd .grid .wordbox{
    float: right;
    height: 120px;
    width: 244px;
    padding: 26px 18px 0;
    box-sizing: border-box;
    font-size: 14px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
    color: #000;
}
.ddwl .bd .more-grid{
    width: 364px;
    background-image: linear-gradient(180deg,#ff6374 1%,#ff7368 98%);
}
.ddwl .bd .more-grid ul{
    padding-left: 19px;
}
.ddwl .bd .more-grid:hover,.ddwl .bd .grid:hover,.ddwl .bd .bigpicbox:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.20);
}
.tsddty{
    height: 456px;
    background-color: white;
}
.tsddty .center-wrap{
    padding-top: 40px;
}
.tsddty .hd h2{
    text-align: center;
}
.tsddty .bd{
    padding-top: 32px;
}
.tsddty .bd ul li{
    float: left;
    height: 290px;
    width: 264px;
    margin-right: 32px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
}
.tsddty .bd ul li:last-child{
    margin-right: 0;
}
.tsddty .bd ul li:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.20);
}
.tsddty .bd ul li .wordbox{
    padding: 16px 9px 0;
}
.tsddty .bd ul li .wordbox .proname{
    font-weight: bold;
    font-size: 16px;
    color: #000;
    height: 48px;
}
.tsddty .bd ul li .wordbox .score{
    font-size: 13px;
    color: #fa6400;
}
.tsddty .bd ul li .wordbox .comment{
    font-size: 13px;
    color: #000;
}
.zsjsdly{
    background-color: #f7f7f7;
}
.zsjsdly .hd em{
    float: left;
    width: 307px;
}
.zsjsdly .hd nav{
    float: right;
    width: 85px;
}
.zsjsdly .bd .more-grid{
    background-image: linear-gradient(180deg,#bd5ee8 0%,#832abb 98%);
}
.zsjsdly .bd .more-grid ul{
    padding-left: 41px;
}
.gtbzzy .hd em{
    float: left;
    width: 307px;
}
.gtbzzy .hd nav{
    float: right;
    width: 157px;
}
.gtbzzy .bd .more-grid{
    background-image: linear-gradient(180deg,#41d8e9 0%,#3685ea 98%);
}
.gtbzzy .bd .more-grid ul{
    padding-left: 67px;
}
.zsjsdly .big-grid .mask{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba( 0, 0, 0, 0.7);
    /* 总透明度 */
    opacity: 0;
    /* 过渡 */
    transition: opacity .4s ease 0s;
}
.zsjsdly .big-grid:hover .mask{
    opacity: 1;
}
.zsjsdly .big-grid .circle{
    position: absolute;
    /* 一开始在盒子的上面 */
    top: -106px;
    left: 50%;
    margin-left: -53px;
    width: 106px;
    height: 106px;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    box-sizing: border-box;
    padding-top: 25px;
    font-size: 18px;
    transition: top .5s ease 0s;
}
.zsjsdly .big-grid .circle p{
    text-align: center;
}
.zsjsdly .big-grid:hover .circle{
    top: 62px;
}
.zsjsdly .big-grid .word{
    position: absolute;
    bottom: -100px;
    left: 10px;
    color: white;
    transition: bottom .5s ease 0s;
}
.zsjsdly .big-grid:hover .word{
    bottom: 30px;
}
/*  */
.gtbzzy .big-grid .mask{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba( 0, 0, 0, 0.7);
    /* 总透明度 */
    opacity: 0;
    /* 过渡 */
    transition: opacity .4s ease 0s;
}
.gtbzzy  .big-grid:hover .mask{
    opacity: 1;
}
.gtbzzy  .big-grid .circle{
    position: absolute;
    /* 一开始在盒子的上面 */
    top: -106px;
    left: 50%;
    margin-left: -53px;
    width: 106px;
    height: 106px;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    box-sizing: border-box;
    padding-top: 25px;
    font-size: 18px;
    transition: top .5s ease 0s;
}
.gtbzzy  .big-grid .circle p{
    text-align: center;
}
.gtbzzy .big-grid:hover .circle{
    top: 62px;
}
.gtbzzy  .big-grid .word{
    position: absolute;
    bottom: -100px;
    left: 10px;
    color: white;
    transition: bottom .5s ease 0s;
}
.gtbzzy  .big-grid:hover .word{
    bottom: 30px;
}
footer .part1{
    height: 220px;
    background-color: #f7f7f7;
}
footer .part1 ul{
    padding-top: 36px;
}
footer .part1 ul li{
    float: left;
    border-right: 1px solid #1c1f21;
    padding: 0 30px;
    height: 16px;
    line-height: 16px;
}
footer .part1 ul li a{
    color: #1c1f21;
    font-size: 16px;
}
footer .part1 ul li:first-child{
    padding-left: 0;
}
footer .part1 ul li:last-child{
    border-right: none;
    padding-right: 0;
}
footer .part1 .dlbox{
    padding-top: 30px;
}
footer .part1 dl{
    width: 289px;
    float: left;
    padding-left: 75px;
    margin-right: 30px;
    position: relative;
}
footer .part1 dl:last-child{
    margin-right: 0;
}
footer .part1 dl dt{
    font-weight: bold;
    margin-bottom: 10px;
}
footer .part1 dl::before{
    position: absolute;
    content: '';
    width: 60px;
    height: 60px;
    background-image: url(../images/icons.png);
    left: 0;
}
footer .part1 dl.txfw::before{
    background-position: -150px -178px;
}
footer .part1 dl.ccsx::before{
    background-position: -150px -104px;
}
footer .part1 dl.axph::before{
    background-position: -150px -31px;
}
footer .part2{
    height: 225px;
    background-color: #1c1f21;
}
footer .part2 .r1{
    padding-top: 48px;
    color: white;
}
footer .part2 .r1 h2{
    float: left;
    font-size: 46px;
}
footer .part2 .r1 .slogan{
    float: left;
    width: 532px;
    font-size: 14px;
    margin-left: 21px;
    position: relative;
    top: 14px;
}
footer .part2 .links{
    padding-top: 30px;
}
footer .part2 .links li{
    float: left;
    border-right: 1px solid white;
    padding: 0 10px;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
}
footer .part2 .links li a{
    color: white;
}
footer .part2 .links li:last-child{
    border-right: none;
}
footer .part2 .links li:first-child{
    padding-left: 0;
}
footer .copyrights{
    padding-top: 20px;
    color: white;
    font-size: 14px;
}
footer .copyrights a{
    color: white;
}
/* .backtotop{
    position: fixed;
    bottom: 80px;
    right: 80px;
    width: 80px;
    height: 80px;
    background: #ccc;
    font-size: 20px;
    text-align: center;
    padding-top: 12px;
    box-sizing: border-box;
    color: #000;
    /* 隐藏元素 */
    /* display: none; s
} */